#nav {
    display: flex;
}
 
#content > * {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    /* background-color: violet; */
}

#connections-tiles {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;

    /* padding-left: 10%; */
    /* padding-right: 10%; */
}

.connections-tile {
    padding: 10px;
    width: 90%;
    height: 90%;
    /* margin: 5px; */
    border: none;
    border-radius: 5px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#connections-guess {
    padding: 10px;
    margin-top: 20px;
}

#results {
    display: flex;
}

.selected {
    background-color: aqua;
}